log.html
output.xml
report.html
*.xml
*.html
*.json
*.pyc
*.png
debug.log
settings.json
.vscode/settings.json
*.log
symbolCache.db
.idea/*
!Resources/Files/**
!Resources/Keywords/03_Technical/reference_images/**
env/
.DS_Store
